<nav>
    <div class="nav-wrapper indigo darken-4">
        <a href="#" class="brand-logo left">Logo</a>
        <a id="memberBtn"
            class="waves-effect waves-light btn-flat btn-large white-text right btn modal-trigger"
            href="#memberModal">
            Membership
        </a>
        <ul idd="nav-mobile" class="hide-on-med-and-down right">
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/meal">Meal</a></li>
        </ul>
    </div>
</nav>

<!-- placeholder for member login / register -->
<div id="memberModal" class="modal"></div>